<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings Form
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="refresh()">
    <ion-fab-button>
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>



