<ion-header>
  <ion-toolbar>
    <ion-title>
      Register Form
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						JamApp Registro
					</span>

        <form [formGroup]="registerForm">
        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
          <span class="label-input100">Nombre de Usuario</span>
          <input class="input100" type="text" formControlName="username" placeholder="Escribe el nombre de usuario">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
          <span class="label-input100">Mail</span>
          <input class="input100" type="text" formControlName="email" placeholder="Escribe el mail">
          <span class="focus-input100" data-symbol="&#xf200;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <span class="label-input100">Contraseña</span>
          <input class="input100" type="password" formControlName="password" placeholder="Escribe la contraseña">
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
          <pre></pre>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <span class="label-input100">Confirmar contraseña</span>
          <input class="input100" type="password" formControlName="confirmPassword" placeholder="Repite la contraseña">
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <div *ngIf="this.registerForm.value.profile=='admin'"class="wrap-input100">
          <span class="label-input100">Contraseña de admin</span>
          <input class="input100" type="password" formControlName="adminPassword" placeholder="Escribe la contraseña">
          <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <ion-item>
          <ion-label>Perfil de Usuario</ion-label>
          <ion-select (ionChange)="incUserReps()" value="music" formControlName="profile" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="user">Usuario</ion-select-option>
            <ion-select-option value="music">Músico</ion-select-option>
            <ion-select-option value="room">Sala</ion-select-option>
            <ion-select-option *ngIf="adminCandidate" value="admin">Admin</ion-select-option>
          </ion-select>
        </ion-item>
        </form>
        <pre></pre>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.username">
            <div class="alert alert-danger" *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="alert alert-danger" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched ||registerForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="alert alert-danger" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.confirmPassword">
            <div class="alert alert-danger" *ngIf="registerForm.get('confirmPassword').hasError(validation.type) && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button color="primary" (click)="registrarse()" [disabled]="registerForm.invalid" expand="block">Registrarse</ion-button>
          </div>
        </div>

        <pre></pre>
        <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Registrarse mediante:
						</span>
        </div>

        <div class="flex-c-m">
          <a href="#" class="login100-social-item bg1">
            <i class="fa fa-facebook"></i>

          </a>

          <a href="#" class="login100-social-item bg2">
            <i class="fa fa-twitter"></i>
          </a>

          <a href="#" class="login100-social-item bg3">
            <i class="fa fa-google"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</ion-content>>
