<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grup List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        <p></p>
        <p></p>
          <span class="login100-form-title">
            Lista de Grupos de JamApp
          </span>
        <p></p>
        <p></p>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button color="primary" (click)="llistaGrups()" expand="block">Obtener Grupos</ion-button>
          </div>
        </div>
        <p></p>
        <p></p>
        <ion-list-header *ngIf="groups">
          <ion-label>Nombre del grupo</ion-label>
          <ion-label>Email</ion-label>
          <ion-label>Description</ion-label>
          <ion-label></ion-label>
        </ion-list-header>
        <ion-list *ngFor="let group of groups">
          <ion-item>
            <ion-label>{{group.name}}</ion-label>
            <ion-label>{{group.email}}</ion-label>
            <ion-label>{{group.description}}</ion-label>
            <ion-checkbox></ion-checkbox>
            <ion-button class="list-buttons" color="primary" (click)="requestMembership">
              Join a group
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <p></p>
        <p></p>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button color="primary" (click)="createGroup" expand="block">Crear un grupo</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</ion-content>
