<ion-header>
  <ion-toolbar>
    <ion-title name="title" *ngIf="user.username">
      {{this.user.username | uppercase}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/menu/pages/grup-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <ion-item *ngIf="this.user.username">
          <ion-label *ngIf="user" style="font-weight: bold">Email: </ion-label>
          <ion-label *ngIf="user">{{user.email}}</ion-label>
        </ion-item>
        <!--
        <ion-item>
          <ion-label *ngIf="("edat" in this.user)" style="font-weight: bold">Edat: </ion-label>
          <ion-label *ngIf="("edat" in this.user)">{{user.edat}}</ion-label>
        </ion-item>
        -->
        <ion-item *ngIf="user.descripcio">
          <ion-label style="font-weight: bold">Description: </ion-label>
          <ion-label>{{user.descripcio}}</ion-label>
        </ion-item>
        <ion-item *ngIf="user.city">
          <ion-label  style="font-weight: bold">City: </ion-label>
          <ion-label>{{user.city}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(user.instrument)&&(user.instrument.length!=0)">
          <ion-label style="font-weight: bold">Instruments: </ion-label>
          <ion-label>{{user.instrument}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(user.grups)&&(user.grups.length!=0)">
          <ion-label style="font-weight: bold">Grups: </ion-label>
          <ion-label>{{user.grups}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(user.jams)&&(user.jams.length!=0)">
          <ion-label style="font-weight: bold">Jams: </ion-label>
          <ion-label>{{user.jams}}</ion-label>
        </ion-item>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
</ion-content>
