<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="platform.is('desktop')">
      Jams Session List
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-label>{{toolbarService.getUserName()}}</ion-label>
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.chat()">
        <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
        <ion-label *ngIf="platform.is('desktop')">CHAT</ion-label>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">

    <div class="container-login100">

      <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        <br>
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionChange)="filterItems()"
        ></ion-searchbar>
        <br>
        <ion-list-header *ngIf="jams" >
          <ion-label>Nombre del Usuario</ion-label>
          <ion-label>Email</ion-label>
          <ion-label>Tipo de Usuario</ion-label>
          <ion-label> </ion-label>
          <ion-label *ngIf="userType=='Admin'"> </ion-label>
          <ion-label *ngIf="userType=='Admin'"> </ion-label>
        </ion-list-header>
        <ion-list *ngFor="let jam of jams">
          <ion-item>
            <ion-label>{{jam.name}}</ion-label>
            <ion-label>{{jam.dataIntencio}}</ion-label>
            <ion-label>{{jam.local}}</ion-label>
            <ion-checkbox *ngIf="userType=='Admin'" class="checkbox"  (click)="selectUser(jam._id)"></ion-checkbox>
            <ion-button *ngIf="userType=='Admin'" class="list-buttons" color="primary" (click)="editarUser(jam._id)" >
              <ion-icon *ngIf="!platform.is('desktop')" slot="icon-only" name="create"></ion-icon>
              <ion-icon *ngIf="platform.is('desktop')" style="padding-right:7px" slot="icon-only" name="create"></ion-icon>
              <ion-label *ngIf="platform.is('desktop')">Editar</ion-label>
            </ion-button>
            <ion-button *ngIf="userType=='Admin'" class="list-buttons" color="primary" (click)="eliminarUser(jam._id)">
              <ion-icon *ngIf="!platform.is('desktop')" slot="icon-only" name="trash"></ion-icon>
              <ion-icon *ngIf="platform.is('desktop')" style="padding-right:7px" slot="icon-only" name="trash"></ion-icon>
              <ion-label *ngIf="platform.is('desktop')">Eliminar</ion-label>
            </ion-button>
          </ion-item>
        </ion-list>
        <br>
      </div>
    </div>
  </div>
</ion-content>
