<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="api/menu/home"></ion-back-button>
          </ion-buttons>
      <ion-title>
        Chats
      </ion-title>
      <ion-buttons slot="end">
        <ion-label>{{toolbarService.getUserName()}}</ion-label>
        <ion-button color="primary" (click)="toolbarService.profile()">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="toolbarService.chat()">
            <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
          CHAT
        </ion-button>
        <ion-button color="primary" (click)="toolbarService.logOut()">
          Log Out
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
          <br>
          <span class="login100-form-title">
          Conversaciones
          </span>
          <br>
          <ion-list *ngFor="let conversation  of chats ">
            <ion-item >
              <ion-label class="pointer" (click)="chat(conversation.destination)" routerDirection="root" routerLinkActive="active">{{conversation.destination}} </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
