<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat with {{destination}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">
  <div>
  <ion-card *ngFor="let message of this.websockets.getMessages()">
    <ion-card-header>
      <ion-card-title><b>{{message.from}}</b>: {{message.message}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-button (click) = "sendMessage(destination, sendingMessage)" >
      <ion-icon slot="icon-only" name ="send"></ion-icon>
    </ion-button>
    <ion-input type="text" placeholder="Escribe el mensaje..." [(ngModel)] = "sendingMessage" (keyup.enter) = "sendMessage(destination, sendingMessage)"></ion-input>
  </ion-item>
</ion-footer>