<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User List
    </ion-title>
    <ion-buttons slot="end">
      <ion-label>{{toolbarService.getUserName()}}</ion-label>
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.chat()">
        <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
        CHAT
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
