<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="alert alert-danger" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type = "submit" [disabled]="!loginForm.valid">Log in</button>
    <button class="btn btn-primary" [routerLink]="['/api/signup']" style="margin-left: 30px">Register</button>
  </div>
</form>
