<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings Form
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-49">
          JamApp Editar Perfil
        </span>

        <form [formGroup]="settingsForm" *ngIf="user">
          <div class="login100-form validate-form">
            <span class="login100-form-title p-b-49" style="font-size: 20px">
              {{this.user.email}}
            </span>
          </div>

          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Email del usuario</span>
            <input class="input100" type="text" formControlName="email" placeholder={{this.user.email}}>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Nombre del usuario</span>
            <input class="input100" type="text" formControlName="username" placeholder={{this.user.username}}>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Edad</span>
            <input class="input100" type="number" formControlName="edat" placeholder={{this.user.edat}}>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Descripcion</span>
            <input class="input100" type="string" formControlName="descripcio" placeholder={{this.user.descripcio}}>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23">
            <span class="label-input100">Video</span>
            <input class="input100" type="string" formControlName="video" placeholder={{this.user.video}}>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <ion-list>
            <ion-label class="label-input100">Instrumentos</ion-label>
            <br>
            <ion-select placeholder="Seleccionar instrumentos" multiple="true" (ionChange)="logsito()" value="guitarra" formControlName="instrument" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option *ngFor="let item of items1" [value]="item">{{item}}</ion-select-option>
          </ion-select>
          </ion-list>
          <br>

          <ion-list>
            <ion-label class="label-input100">Estilos</ion-label>
            <br>
            <ion-select  placeholder="Selecciona estilos" multiple="true" (ionChange)="logsito2()" value="regeton" formControlName="estils" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option *ngFor="let item of items2" [value]="item">{{item}}</ion-select-option>
            </ion-select>
          </ion-list>
          <br>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <ion-button color="primary" (click)="updateUser()" expand="block">Guardar</ion-button>
            </div>
          </div>
          <br>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <ion-button color="primary" href="api/changeLocation" expand="block">Cambiar nuestra ubicación</ion-button>
            </div>
          </div>

        </form>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</ion-content>
