<ion-header>
  <ion-toolbar>
    <ion-title>
      Filters Form
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="api/menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <span class="login100-form-title p-b-49">
						Filtros en el Mapa
					</span>
        <form class="login100-form validate-form">
          <ion-label>Mostrar:</ion-label>
          <ion-list>
            <ion-item>
              <ion-checkbox class="checkbox" checked="true" (click)="checkMusics()"></ion-checkbox>
              <ion-label class="list_items">Musicos</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox class="checkbox" checked="true" (click)="checkSalas()"></ion-checkbox>
              <ion-label>Salas</ion-label>
            </ion-item>
            <br>
            <ion-checkbox class="checkbox" checked="false" (click)="checkMusics()"></ion-checkbox>
            <ion-label>Filtrar por distancia:</ion-label>
            <br>
            <ion-item>
              <ion-range style="padding-top: 30px;z-index: 99" min="5" max="100" pin="" step="5" snaps="true" color="primary" class="ion-color ion-color-secondary ios in-item range-has-pin hydrated" (ionChange)="rangeChange($event)">
                <ion-item slot="start">
                  <ion-label>5 km</ion-label>
                </ion-item>
                <ion-item  style="z-index: -1" slot="end">
                  <ion-label>100 km</ion-label>
                </ion-item>
              </ion-range>
            </ion-item>
          </ion-list>
          <br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <ion-button color="primary" (click)="exportFilters()"  expand="block"> Aplicar Filtros</ion-button>
            </div>
          </div>
        </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  </div>
</ion-content>
