<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1MQvcE5WYfIYyAy-oul-FXs5tsCttzk0&callback=initMap"
        async defer></script>
