<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button color="primary" (click)="toolbarService.settings()">
        <ion-icon slot="icon-only" name="switch"></ion-icon>
        <ion-label>Filtros</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-label>{{toolbarService.getUserName()}}</ion-label>
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.chat()">
          <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
        CHAT
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
  <div #map id="map"></div>
</div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="refresh()">
    <ion-fab-button>
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>


