<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-label>{{toolbarService.getUserName()}}</ion-label>
      <ion-button color="primary" (click)="toolbarService.profile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="toolbarService.logOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="card" *ngIf="userClicked">
      <ion-card-header>
        <ion-card-title>Usuari: {{userClicked.username}}</ion-card-title>
      </ion-card-header>
      <div >
        <ion-card-content>
          Tipos de Usuari: {{userClicked.userType}}
        </ion-card-content>
      </div>
    </ion-card>
  </div>
  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="refresh()">
    <ion-fab-button>
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>


