<!DOCTYPE html>
<html lang="en">
<head>
  <title>JamApp Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">

					<span class="login100-form-title">
						Llista de Usuaris de JamApp
					</span>
      <p></p>
      <p></p>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button (click)="llistaUsers()" class="login100-form-btn" type="submit">
           Obtindre Usuaris
          </button>
        </div>
      </div>
      <p></p>
      <p></p>
      <ul *ngIf="users" id="menu">
        <li *ngFor="let user of users">
          <p>{{user.email}}    {{user.userType}}</p>
          <button type="button" class="signout_btn pull-right" id="btnEditar"><i class="fa fa-pencil"></i>Editar</button>
          <button type="button" class="signout_btn pull-right" id="btnEliminar"><i class="fa fa-trash"></i>Eliminar</button>
        </li>
        <li class="no-bullet">

        </li>
      </ul>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</div>
</body>
</html>

